.product-item {
  margin-bottom: 30px;

  &__logo {
    margin-bottom: 54px;
  }

  &__serial {
    color: grey;

    font-size: 12px;
    line-height: 35px;
    letter-spacing: 1.2px;

    margin-bottom: 27px;

    font-family: $font-light;
  }

  &__title {
    font-family: $font-bold;

    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.75px;

    margin-bottom: 32px;
  }

  &__desc {
    font-family: $font-regular;

    font-weight: 500;

    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.35px;

    margin-bottom: 29px;

    color: $black;
  }

  &__info {
    max-width: 310px;
    margin: 0 auto;
    @media screen and(min-width: $lg) {
      margin: 0 0;
    }
  }

  &__wrapper {
    @media screen and(min-width: $lg) {
      display: flex;
      justify-content: space-around;
      flex-direction: row-reverse;
    }
  }

  @media screen and(min-width: $lg) {
  }
}

.carousel {
  @media screen and(min-width: $lg) {
    max-width: 310px;
  }
}
