.quantity {
  &__title {
    font-size: 13px;
    letter-spacing: 0.65px;
  }

  &__number {
    width: 52px;
    height: 46px;

    margin-left: 9px;
    text-align: center;

    line-height: 35px;
    letter-spacing: 0.45px;

    color: $black;
    // border-color: $grey;
    outline: none;
    border: 1ps solid $input-border-color;
  }

  &__arrows {
    // padding: 7px 0px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__up,
  &__down {
    padding: 0 9px;

    border: none;

    background-color: transparent;
    // width: 10px;
    // height: 10px;
  }
  &__up {
    transform: rotate(180deg);
  }
}
