.ratio {
  display: flex;
  align-items: center;

  margin-bottom: 26px;
  &__stars {
    display: flex;
  }

  &__point {
    width: 11px;
    height: 11px;
    border-radius: 50%;

    background-color: $grey;
    &:not(:last-child) {
      margin-right: 5px;
    }
    &.active {
      background-color: yellow;
    }
  }

  &__number {
    margin-left: 15px;

    font-size: 15px;
    line-height: 35px;
    letter-spacing: 1.5px;

    color: $red;
  }

  &__reviews {
    margin-left: 5px;

    font-size: 13px;
    letter-spacing: 0.33px;

    color: $grey;
  }
}
