body {
  padding: 0;
  margin: 0;

  font-family: $font-regular, sans-serif;
  font-weight: black;

  color: $black;
  background-color: $blue;
}

ul,
p {
  list-style: none;

  margin: 0;
  padding: 0;
}
