body {
  padding: 0;
  margin: 0;

  font-family: $font-regular, sans-serif;

  color: $black;
  background-color: $blue;
}

img,
button {
  display: block;
}

ul,
p,
button {
  list-style: none;

  margin: 0;
  padding: 0;
}

.block {
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.justify {
  justify-content: center;
}
