$font-size: 1rem;
$background-color: #121212;
$font-color: #dae0e0;
$page-width: 650px;

// fonts
$font-black: "roboto-black";
$font-bold: "roboto-bold";
$font-light: "roboto-light";
$font-medium: "roboto-medium";
$font-regular: "roboto-regular";
$font-thin: "roboto-thin";

// colors
$white: #fff;
$black: #333333;
$black-secondary: #272727;
$blue: #536dfe;
$red: #f1425d;
$grey: #818181;
$accent: #e8e6e3;

$input-border-color: #bbbbbb;
